body {
  background-image: url(img/login2.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Sahitya", serif;
}
header {
  position: relative;
  max-width: 1300px;
  height: 60px;
  margin: 10px auto;
  padding: 10px;
  background: rgb(0, 0, 0);
  opacity: 0.6;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(132, 211, 224, 0.548);
}
.logo {
  color: #5cd5da;
  height: 60px;
  font-size: 36px;
  line-height: 60px;
  padding: 0 20px;
  text-align: center;
  box-sizing: border-box;
  float: left;
  font-weight: 700;
  text-decoration: none;
}
nav {
  float: right;
}
.clearfix {
  clear: both;
}
nav ul {
  margin: 0;
  padding: -3;
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: rgb(163, 230, 241);
  font-size: 15px;
}
nav ul li a.active,
nav ul li a:hover {
  background: black;
  opacity: 0.5;
  color: rgb(144, 227, 233);
  transition: 0.5s;
}
@media (max-width: 1200px) {
  header {
    margin: 20px;
  }
}
@media (max-width: 768px) {
  .menu-toggle {
    display: block;

    width: 40px;
    height: 40px;
    margin: 10px;
    background: none;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #069370;
  }

  .menu-toggle:before {
    content: "\f0c9";
    font-family: fontAwesome;
    line-height: 40px;
    float: right;
  }
  .menu-toggle.active:before {
    content: "\f057";
  }
  nav {
    display: none;
  }
  nav.active {
    display: block;
    width: 100%;
  }
  nav.active ul {
    display: block;
  }
  nav.active ul li a {
    margin: 0;
  }
}
.carousel-container {
  width: 60%;
  position: sticky;
  margin: auto;
  border: 5px solid black;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.carousel-container img {
  display: block;
  width: 100%;
}
.carousel-slide {
  display: flex;
  width: 100%;
}
#prevBtn {
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 5%;
  font-size: 30px;
  color: white;
  opacity: 0.7;
  cursor: pointer;
}
#nextBtn {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
  font-size: 30px;
  color: white;
  opacity: 0.7;
  cursor: pointer;
}
